@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-surface-800: #030712;
    --color-surface-700: #111827;
    --color-surface-600: #1f2937;
    --color-surface-500: #374151;

    --color-accent: #2a7dfa;
    --color-dagner: #f92b35;
    --color-cream: #dedacd;
}
